@media (max-width: 570px) and (min-width:445px) {
    /* body{
        padding: 20px;
    } */
    .container {
        margin: 50px;
        height: 400px;
        width: 300px;
    }
    .coln {
        display: none;
    }
    #score {
        padding: 5px;
        margin-top: 15px;
        margin-bottom: 10px;
    }
}

@media (max-width: 445px) and (min-width:200px) {
    .container {
        
        margin: 30px;
        height: 450px;
        width: 250px;
    }
    .coln {
        display: none;
    }
    /* #score{
        padding: 5px;
        margin-top: 15px;
        margin-bottom: 10px;
    } */
}

@media (max-width: 200px) and (min-width:50px) {
    .container {
        
        margin: 30px;
        height: 480px;
        width: 250px;
    }
    .coln {
        display: none;
    }

}